@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap');

html{
    background-color: #93C5FD;
    color: #1E40AF;
}

body{
    max-width: 600px;
    margin: auto;
    text-align: center;
    font-size: larger;
    font-family: 'Raleway', sans-serif;
}

.fa{
    padding: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover{
    opacity: 0.7;
}

.input #bill-amount{
    margin: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
}
.input #cash-given{
    margin: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
}
#change-given{
    font-family: 'Raleway', sans-serif;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    background-color: #93C5FD;
    color: #1E40AF;
    border-color: #1E40AF;
}
#error-message{
    margin: 1rem;
}
#table-change{
    margin: 1rem;
}


.trow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 500px;
    text-align: justify;
}

footer{
    margin-top: 15%;
}
